body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  text-align: center;

  > .header {
    background-color: #282c34;
    color: white;
    .logo {
      height: 32px;
      width: 32px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.2em;
      margin-bottom: 0.4em;
    }
    h2 {
      display: inline-block;
    }
  }

  > .mainPanel {
    justify-content: center;
    margin: 2em;
  }

  .link {
    color: #09d3ac;
  }
}
