body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
    text-align: center;
}

.App > header {
    background-color: #282c34;
    color: white;
}

.App > header .logo {
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.2em;
    margin-bottom: 0.4em;
}

.App > header h2 {
    display: inline-block;
}

.App > .mainPanel {
    justify-content: center;
    margin: 2em;
}

.App .link {
    color: #09d3ac;
}

/* ----------------- */

table.BankingCardsList {
    width: 50%;
    display: inline-table;
    padding-bottom: 3em;
}

table.BankingCardsList > thead > tr > td {
    background-color: darkolivegreen;
    color: azure;
    height: 4em;
}

table.BankingCardsList > tbody > tr > td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

table.BankingCardsList > tbody > tr.caption {
    margin-top: 2em;
    padding-top: 2em;
}
